{% extends 'base.html' %}


{% block contant %}
 
<div class=" mt-[70px] w-[100dvw] py-3 ">
    <div class=" flex justify-end px-4">
    <a href="/blog/create" class="p-2 bg-primery text-white text-center px-10 py-3 rounded-md hover:bg-blue-500 ">Create Blog</a>
    </div>

    <div class="w-screen grid lg:grid-cols-4 grid-cols-1 py-2 ">
    {% if my_blog %}
    {% for blog in my_blog %}
    <div class=" w-[300px] hover:scale-102 border-primery rounded-md overflow-hidden flex flex-col gap-2 items-center justify-between border py-2 lg:m-5 my-5">

      <!-- <div class="">
        <img src="" alt="">
      </div> -->

      <div class=" text-center flex flex-col gap-2 px-1 ">
        <h1 class="text-lg font-bold text-primery">{{blog.title}}</h1>
        <p class="text-gray-500">By {{blog.auther}} at {{ blog.clreated_at.strftime("%Y-%m-%d")}}</p>

        <div class=" text-justify">
          {{blog.contant}}
        </div>
        <a class="px-5 py-2 bg-blue-500 text-white text-lg" href="/blog/{{blog.blogId}}">Read</a>
      </div>
    </div>
    {% endfor %}
    
    {% endif %}
    
  
    </div>


</div>

{% endblock %}